.env
.venv
agents/tmp
browser-use-web
*.pyc
*.manifest
*.json
agents/sparky-langgraph/google-cloud-sdk/bin/bootstrapping/.default_components
/agents/sparky-langgraph/google-cloud-sdk
*.log
agnoui
agents/sparky-langgraph/venv